<div class = "row">
  <h1>
  <%= @corporation.name %>
</h1>

<p id="notice"><%= notice %></p>

 <div class="col-md-6">

<%= image_tag @corporation.avatar.url || 'avatar.jpg' %>

<p>
  <strong>Address:</strong>
  <%= @corporation.address %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @corporation.industry %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @corporation.phone_number %>
</p>

<p>
  <strong>Web site:</strong>
  <%= @corporation.web_site %>
</p>

<p>
  <strong>Associated Billionaires:</strong><br>
  <%  @billionaires.each do |billionaire| %>
    <%=link_to (image_tag billionaire.avatar.url || 'avatar.jpg', class: 'avatar'), billionaire_path(billionaire) %> <br>
    <%= link_to billionaire.name, billionaire_path(billionaire) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_corporation_path(@corporation) %> |
<%= link_to 'Back', corporations_path %>

</div>

<div class="col-md-6">

<iframe width="600" height="450" frameborder="0" 
style="border:0" 
src="https://www.google.com/maps/embed/v1/place?q=<%= @corporation.address.parameterize %>
&key=AIzaSyDR8RIAUMrYjWTGAMSA57O_Av9sA008d50" allowfullscreen></iframe>

</div>
</div>